<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Upload Answer
                    </h5>
                    <div class="col-md-6 pr-md-1">
                        <!-- <button type="submit" class="btn btn-primary managebtn" routerLink="/layout/listbatches">Manage
                            Batch</button> -->
                    </div>
                </div>

                <form [formGroup]="attemptanswer" (submit)="submit()">
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label>Upload Answers</label>
                                    <input type="file" class="form-control" placeholder="Upload Answers "
                                        (change)="upload($event)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>