<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Update Student
                    </h5>
                    <div class="col-md-6 pr-md-1">
                        <button type="submit" class="btn btn-primary managebtn" routerLink="/layout/liststudent">Manage
                            Student</button>
                    </div>
                </div>

                <form [formGroup]="addstudent" (submit)="submit()">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Name"
                                        formControlName="student_name">
                                </div>
                            </div>
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Phone No.</label>
                                    <input type="number" class="form-control" placeholder="Phone No."
                                        formControlName="phone_no">
                                </div>
                            </div>
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Roll No</label>
                                    <input type="number" class="form-control" placeholder="Roll No"
                                        formControlName="roll_no">
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label>Qualification</label>
                                    <input type="text" class="form-control" placeholder="Qualification"
                                        formControlName="qualification">
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" placeholder="City" formControlName="city">
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label>Gender</label><br>
                                    <input type="radio" formControlName="gender" value="Male"> Male
                                    <input type="radio" formControlName="gender" value="Female"> Female
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>