<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title">All Student Assignments Table</h4>
          </div>
          <div class="col-md-6 pr-md-1">
            <!-- <button type="submit" class="btn btn-primary addbtn" routerLink="/layout/addbatches">Add Batches</button> -->
          </div>
          <div class="card-body">
            <div class="table-responsive ps">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                <tr>
                    <th>Student</th>
                    <th>Batch</th>
                    <th>Title</th>
                    <th>Marks</th>
                    <th>Description</th>
                    <th>Remarks</th>
                    <th>Answersheet</th>
                    <th>Action</th>
                </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let stu of data">
                        <th>{{ stu['studentId'] ? stu['studentId']['student_name'] : '' }} {{ stu['studentId'] ? '-'+stu['studentId']['email'] : '' }}</th>
                        <th>{{ stu['batchId'] ? stu['batchId']['time'] : '' }}</th>
                        <th>{{ stu['assignmentId'] ? stu['assignmentId']['title'] : '' }}</th>
                        <th>{{ stu['marksObtained'] }}/{{ stu['assignmentId'] ? stu['assignmentId']['marks'] : '' }}</th>
                        <th>{{ stu['assignmentId'] ? stu['assignmentId']['description'] : '' }}</th>
                        <th>{{ stu['remarks'] }}</th>
                        <th>
                          <a [href]="getfile(stu['studentAnswerFile'])" target="_blank" *ngIf="stu['studentAnswerFile']">View Answer sheets</a>
                        </th>
                        <th>
                            <a [routerLink]="['/teacherlayout/singlestudentassignment',stu['_id']]"><i class="fa fa-edit text-success"></i></a>
                        </th>
                    </tr>
                </tbody>
                
              </table>
  
            </div>
          </div>
        </div>
      </div>