<div class="sidebar">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="">
          <a routerLink="/teacherlayout/teacherdashboard">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Dashboard</p>
          </a>
        </li>  

        <li class="">
          <a routerLink="/teacherlayout/myallbatches">
            <i class="tim-icons icon-bullet-list-67"></i>
            <p>My Batches</p>
          </a>
        </li>  

        <li>
          <a routerLink="/teacherlayout/addassignment">
            <i class="tim-icons icon-book-bookmark"></i>
            <p>Assignment</p>
          </a>
        </li>

        <li>
          <a routerLink="/teacherlayout/addmaterial">
            <i class="tim-icons icon-single-copy-04"></i>
            <p>Material</p>
          </a>
        </li>
        <li>
          <a routerLink="/teacherlayout/allstudentassignment">
            <i class="tim-icons icon-atom"></i>
            <p>All Assignments</p>
          </a>
        </li>

      </ul>
    </div>
  </div>