<div class="sidebar">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="">
          <a routerLink="/studentlayout/studentdashboard">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Dashboard</p>
          </a>
        </li>  

        <li class="">
          <a routerLink="/studentlayout/assignedBatches">
            <i class="tim-icons icon-bullet-list-67"></i>
            <p>My Batches</p>
          </a>
        </li>  

      </ul>
    </div>
  </div>