<div class="sidebar">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a routerLink="/layout/dashboard">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a routerLink="/layout/addcourse">
          <i class="tim-icons icon-chart-bar-32"></i>
          <p>Course</p>
        </a>
      </li>
      <li>
        <a routerLink="/layout/addbatches">
          <i class="tim-icons icon-bullet-list-67"></i>
          <p>Batches</p>
        </a>
      </li>
      <li>
        <a routerLink="/layout/addteacher">
          <i class="tim-icons icon-single-02"></i>
          <p>Teacher</p>
        </a>
      </li>
      <li>
        <a routerLink="/layout/addstudent">
          <i class="tim-icons icon-single-02"></i>
          <p>Student</p>
        </a>
      </li>
      <li>
        <a routerLink="/layout/addassignbatch">
          <i class="tim-icons icon-align-left-2"></i>
          <p>Assign Batch</p>
        </a>
      </li>
      <!-- <li>
        <a routerLink="/layout/addassignment">
          <i class="tim-icons icon-atom"></i>
          <p>Assignment</p>
        </a>
      </li>
      <li>
        <a routerLink="/layout/addmaterial">
          <i class="tim-icons icon-atom"></i>
          <p>Material</p>
        </a>
      </li> -->
      <!-- <li>
        <a routerLink="/layout/allstudentassignment">
          <i class="tim-icons icon-atom"></i>
          <p>All Assignments</p>
        </a>
      </li> -->


    </ul>
  </div>
</div>