<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
          <div class="row">
            <div class="col-md-12">
              <div class="card-counter primary">
                <i class="fa fa-bar-chart"></i>
                <span class="count-numbers">{{totalCourses}}</span>
                <span class="count-name">Total Courses</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card-counter danger">
                <i class="fa fa-list"></i>
                <span class="count-numbers">{{totalBatches}}</span>
                <span class="count-name">Total Batches</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card-counter success">
                <i class="fa fa-user"></i>
                <span class="count-numbers">{{totalTeachers}}</span>
                <span class="count-name">Total Teachers</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card-counter info">
                <i class="fa fa-users"></i>
                <span class="count-numbers">{{totalStudents}}</span>
                <span class="count-name">Total Students</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>